      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">
<a href="/">
            &gt;&nbsp;<span class="bordered">cowboys</span><span class="blink">&nbsp</span>
</a>
          </h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href='/contact'>Contact</a></li>
              <li><a href='/about'>About</a></li>
            </ul>
          </nav>
        </div>
      </div>
